<!DOCTYPE html>
<html>
<head>
  <title>Fields</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Shape</th>
  </tr>
  <tr>
    <%= form_for @fields do |f| %>
        <td>
          <%= f.name %></td>
        <td>
          <%= f.shape %></td>
    <% end %>
  </tr>
</table>

</body>
</html>